*.ali
*.o
*.a
*.bexch
*.ci
*.orig
*.bin
*.map
*-loc.xml

b__*.ad?

.build*
obj
test
doc
cortex-gnat-rts*
.DS_Store

auto.cgpr
gnatinspect.db
gpr_query.*

local/

demos-arduino-due/debounce_hardware
demos-arduino-due/debounce_software
demos-arduino-due/first

test-arduino-due/
test-microbit/
test-stm32f4/
test-stm32f429i/
